#root{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  background-color: #000000;
  --category_width : 360px;
}
.error{
  height: 100dvh;
  color: whitesmoke;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
*:not(input):hover {
  cursor: default;
}
button:hover, button:hover * {
  cursor: pointer;
}
.topbar{
  position: fixed;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 54px;
  padding-top: 10px;
  transition: .3s ease;
  z-index: 97;
}
.topbar:has(.sort_container){
  height: 100px;
  transition: height .4s ease;
}
.topbar:has(.tags){
  height: 124px;
  transition: height .4s ease;
}
.topbar > .sidebar_button{
  position: absolute;
  left: 24px;
}
button.sidebar_button{
  padding: 3px 8px;
  transition: transform .5s;
}
button.sidebar_button:hover{
  color: white;
  background-color: transparent;
  transform: rotateY(360deg);
}
button.sidebar_button:active{
  transition: opacity .5s;
  opacity: .4;
}
.links_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
}
.links{
  color: white;
  background-color: rgb(63, 66, 65 , 0.4);
  border-radius: 6px;
  padding: 2px 48px 2px 40px;
  text-decoration: none;
  border: 1px solid transparent;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.links:hover{
color: rgb(98, 248, 29);
border-color:  rgb(98, 248, 29);
}
.links:active{
translate: 1px 1px;
color: rgb(221, 218, 218);
}
.nav_overlay{
  width: 100%;
  height: 100vh;
  background-color: #000000;
  opacity: 0.4;
  display: none;
  z-index: 98;
  position: absolute;
}
.sidebar{
  position: fixed;
  top: 0;
  z-index: 99;
  margin-left: -240px;
  width: 20%;
  /* min-width: 160px; */
  width: 240px;
  height: 100%;
  background: linear-gradient(120deg , rgb(97, 97, 97), black ,  rgb(51, 51, 51));
  color: #fff;
  transition: 0.3s ease-in-out;
}
.sidebar.active{ margin-left: 0; }
nav.sidebar:focus{
  background-color: rgba(255, 0, 0, 0.74);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.sidebar_title{
  display: flex;
  justify-content: space-between;
  padding: 16px 10px;
  color: #6161ff;
}
.s_title_bg{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button.close{
  background-color: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 5px;
  transition: .2s;
}
.close:hover{ background-color: #555; }
.sidebar_categories_container{
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: 10px;
}
.sidebar_categories{
  text-decoration: none;
  color: white;
  text-align: start;
  padding: 4px;
  cursor: pointer !important;
}
.sidebar_categories.selected{
  background-color: #777777;
  border: solid 1px white;
  border-radius: 4px;
}

.sort_container{
  padding: 16px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category_button, .remove, .tags, .searchbar, .searchbutton{
  background-color: rgb(63, 66, 65 , 0.3);
  color: white;
  border: solid 1px whitesmoke;
}
.category_button:hover,.remove:active,.searchbutton:active,.close:active{
  background-color: rgb(255, 255, 255, 0.3);
  color: rgb(49, 49, 49);
}
.category_button{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: var(--category_width);
  border-radius: 8px;
  transition: .3s;
}
.category_button, .category_button *{
  cursor: default !important;
}
.category_remove_container > *:not(.remove):hover .dropdown_list {
  display: block;
}

.category_remove_container > *:not(.remove):hover .category_button,
.categories:hover .category_button{
  background-color: rgb(255, 255, 255, 0.3);
  color: rgb(49, 49, 49);
}

.add_to_cart:hover,.addfavt_tocart:hover,.remove_favt:hover{background-color:rgba(255, 255, 255, 0.4); transition:.2s}
.add_to_cart:active,.addfavt_tocart:active, .remove_favt:active{background-color: rgb(179, 179, 179,0.6);}
.dropdown_list{ display: none; border: solid 1px rgb(54, 54, 54); position: absolute; background-color: rgba(240,248,255,0.9); top: 28px; border-radius: 6px; width: var(--category_width); overflow: hidden; z-index: 2;}
.categories{font-weight: 500; padding: 4px 0px 4px calc(var(--category_width) - 70%); display: flex; gap: 12px; border-bottom: 1px dotted rgb(70, 70, 70); transition: .2s;}
.categories:hover{cursor: pointer; background-color: rgb(255, 255, 255,0.9);}
.categories:active{background-color: #b1afaf;}
.categories:last-child{border-bottom: none;}
.remove{height: 28px;border-radius: 8px; display: flex; align-items: center;}
.remove:hover{background-color: rgb(255, 255, 255, 0.3); color: rgb(49, 49, 49);}

.search_container{display: flex; justify-content: flex-end; padding-left: 8px;}
.tags_container{flex-direction: row-reverse; align-items: center; gap: 16px; padding: 6px 10px;}
.tags{ display: flex; justify-content: space-around; align-items: center; border-radius: 4px; padding: 0px 26px; height: 26px; font-size: large;}
.tags:hover{ background-color: rgba(255, 255, 255, 0.253);}
.clear_search{ font-size: 16px; height: 20px;}
.searchbar{border: 1px solid; border-radius: 8px 0px 0px 8px; padding-left: 8px; min-width: 64px; width: calc(var(--category_width) - 50px); text-align: center;}
.searchbar::placeholder{color: white;}
.searchbar:focus{ outline:none; }
.searchbar:focus::placeholder{ color: transparent;}
.searchbutton{border-radius: 0px 8px 8px 0px; padding: 0px 10px;}

.master_container{ background: linear-gradient(120deg , black ,  rgb(48, 48, 48), black); height: fit-content; min-height: 100vh; padding-top: 100px; transition: padding-top .5s ease;}
.product_container{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; background-color: inherit; padding: 30px 80px; justify-items: center; gap: 40px; transition: padding .6s ease;}
.topbar:has(.tags) ~ .master_container .product_container{ padding: 60px 80px; transition: .6s ease;}
.products{width: 400px; height: 350px; overflow: hidden; background-color: #6691c9; border-radius: 16px; box-shadow: 20px 20px 50px 10px pink inset; position:relative; transform: scale(100%); transition: .3s ease, transform .1s ease; }
.products:hover{transform: scale(103%);}
.image_container{ width: 100%; height: 70%; overflow: hidden; background-color: white;}
.image{margin-left: -20px; transition: .3s ease;}
.product_title{font-weight: 700; font-size: 18px; text-align: left; padding: 6px 8px 6px 8px; height: 60px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden;}
.product_price{font-weight: 900; font-size: 24px; text-align: left; position: absolute; bottom: 4px;}
.product_title, .product_price, .mid_container,.item_mid_container,.item_price,.total_cost_container{ cursor: default;}
.cart_fav{display:flex; gap: 12px; padding: 4px 16px 4px 0px; align-items: center; position: absolute; right: 10px; bottom: 4px;}
.add_to_cart{border: solid 1px #5a5a5a; border-radius: 4px; background-color: transparent;}
.favourite{color: red;}
.favourite:hover{cursor: pointer;}

.favt_master_container{ display: flex; flex-direction: column; align-items: center; width: 100%; height: fit-content; min-height: 100vh; padding-top: 95px; background-image: linear-gradient(130deg,#bbcfdd, #ccd1c1); transition: width .4s ease, margin-left .4s ease-in-out;}
.favt_container{width: 80%; display: flex; font-weight: bold; margin-bottom: 50px; border: solid 1px rgb(64, 59, 65); border-radius: 10px; gap: 30px; align-items: center; padding: 20px; text-align: left; color: #3c6eaf; transition: .1s;}
.favt_container:hover{ transform: translate(-4px, -4px); box-shadow: 6px 6px 10px 2px #7691b4; transition: .2s;}
.favt_img_container{ min-width: 200px; width: 200px; height: 160px; border: solid 1px black; border-radius: 4px; overflow: hidden; background-color: white;}
.favt_image{ margin-left: -42px;}
.mid_container{width: 70%; font-size: 18px;}
.cart_favt_container{display: flex; flex-direction: column; gap: 20px;}
.addfavt_tocart,.remove_favt{ white-space: nowrap; border-radius: 6px; border: solid 1px grey; font-weight:500; height: 30px; background-color: transparent;}

.cart_master_container{ width: 100%; display: flex; flex-direction: column; align-items: center; height: fit-content; min-height: 100vh; padding-top: 95px; background-image: linear-gradient(130deg,#cbbbdd, #d1c6c1); transition: width .4s ease-in-out, margin-left .4s ease-in-out;}
.items_container{ width: 80%; display: flex; font-size: 18px; border: solid 1px black; margin-bottom: 40px; border-radius: 10px 0px 10px 0px; padding: 20px; justify-content: space-between; background-color: whitesmoke; min-height: 200px; height: 200px; align-items: center; transition: .2s;}
.items_container:hover{transform: scale(101%); transition: .2s; border: none; border-radius: 10px; border: solid 1px rgb(103, 103, 175);}
.item_img_container{ width: 200px; height: 160px; border: solid 1px black; overflow: hidden; border-radius: 4px; background-color: white;}
.cart_image{ margin-left: -40px;}
.item_mid_container{ display: flex; flex-direction: column; justify-content: space-around; width: 60%; min-height: 140px; text-align: start;}
.minus_btn{border: solid 1px rgb(95, 95, 95); border-radius: 4px 0px 0px 4px; width: 30px;}
.quantity{border: solid 1px rgb(95, 95, 95); width: 40px; text-align: center; background-color: rgb(241, 241, 241);}
.plus_btn{border: solid 1px rgb(95, 95, 95); border-radius: 0px 4px 4px 0px; width: 30px;}
.hovr{background-color: transparent;}
.hovr:hover{background-color: rgb(228, 228, 228,0.3);}
.hovr:active{background-color: rgb(197, 197, 197, 0.3);}
.item_title{font-weight: 500;}
.remove_item{text-decoration: none; color: rgb(255 153 0); padding-left: 40px; white-space: nowrap;}
.remove_item:hover{cursor: pointer; color: #0000EE;}
.item_price{ width: 140px; border-left: solid 1px black ; padding: 60px 20px;}
.total_cost_container{ width: 80%; border-top: solid 1px rgb(71, 70, 70) ; padding: 30px; display: flex; flex-direction: column; align-items: end;}
.checkout_button{border: solid 1px rgb(151, 151, 151); border-radius: 6px; padding: 2px 10px 2px 10px; background: rgb(27, 172, 27); transition: .2s; color: white;}
.checkout_button:hover{background-color: rgb(37, 201, 37);}
.checkout_button:active{background-color: rgb(112, 189, 112); border: solid 1px black;}


/* Loader */
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

/* topbar background */
@keyframes gradient {
  0% {
     background-position: 0% 50%;
  }
  50% {
     background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: linear-gradient(20deg, rgb(112, 21, 21), black, rgb(104, 17, 17));
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 2px solid white;
  background-clip: content-box;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


/* media queries for mobile */

@media (max-width : 372px) and (max-device-width:768px){
  .category_button,.remove,.searchbar,.searchbutton,.tags{ font-size: 14px;}
  .searchbutton{ padding: 0px 4px;}
  .tags{ padding: 0px 8px;}
  .clear_search{ font-size: 14px;}
  .remove{ height: 25px;}
  .sidebar{ width: 200px !important;}
}

@media (max-width : 572px) and (max-device-width:768px){
  .links{ min-width: 24%; height: 26px;}
  .link_text{ display: none;}
  .dropdown_list{ width: 200px }
  .categories{ padding: 4px 24px;}
  .sidebar{ width: 240px; }
}

@media (min-width : 573px) and (max-device-width:768px){
  .dropdown_list{ width: 360px;}
  .sidebar{ width: 338px; padding-left: 20px; margin-left: -338px;}
}

@media (max-device-width:768px){
  #root{ overflow-y: hidden; --category_width : 100%; }
  .topbar, .master_container{ width: 100%; margin-left: 0px;}
  .topbar:has(.sort_container){ height: 86px}
  .topbar:has(.tags){ height: 124px;}
  .topbar > .sidebar_button{ left: 3%;}
  .links{ width: fit-content; padding: 0px 16px;}
  .sort_container{ padding: 16px 10px 4px 10px;}
  .sidebar{ overflow-y: scroll;}
  .product_container{ grid-template-columns: 1fr;}
  .products{ width: 600px; height: 600px;}
  .image_container{ height: 70%;}
  .image{ width: 750px; height: 400px; margin-left: -66px; margin-top: 10px;}
  .product_title{ font-size: 24px; height: 76px;}
  .product_price{ font-size: 30px; bottom: 30px;}
  .cart_fav{ bottom: 30px;}
  .add_to_cart{ width: 200px; font-size: 22px; border: 2px solid;}
  .favourite{ font-size: 22px;}


/* disabling hover properties */
  .products:hover{ transform: none;}
  .favt_container:hover{ transform: none; box-shadow: none; }
}

/* @media (max-width : 1080px) and (max-device-width:600px){
  
}

@media (max-width : 1080px) and (max-device-width:767px){
  
} */


/* media queries */

/* @media (max-width:600px){
  .product_container{grid-template-columns: 1fr 1fr;}
}
@media (min-width:601px) and (max-width:767px){
  .product_container{grid-template-columns: 1fr 1fr 1fr;}
}
@media (min-width:768px) and (max-width:991px){
  .product_container{grid-template-columns: 1fr 1fr 1fr;}
} */
@media (min-width:992px) and (max-width:1199px){
  .products{scale: .8;}
  .product_container{grid-template-columns: 1fr 1fr 1fr;}
}
@media (min-width:1200px){
  .topbar, .master_container, .sidebar{ transition: .4s ease-in-out !important; }
  .sidebar.active ~ .master_container .products{ width: 350px; height: 300px; transition: width .6s ease, height .6s ease, transform .1s ease;}
  .close{ display: none; }
  .sidebar.active ~ .master_container .image{ margin-left: -22px; transition: .4s ease; width: 400px; height: 210px; }
  .sidebar.active ~ .master_container .product_title{ height: 50px; line-height: 22px;}
  .sidebar.active ~ .master_container, .sidebar.active ~ .favt_master_container, .sidebar.active ~ .cart_master_container{ width: calc(100% - 238px); margin-left: 238px; transition: .4s ease-in-out;}
}
@media (min-width:1900px){
  .product_container{ grid-template-columns: repeat(5 , 1fr);}
}